nav {
    color: white;
    background-color: rgb(12, 163, 239);
    width: 554px;
    height:100px;
    border-radius: 10px;
    margin-left: 520px;
}

h1,li {
    padding-left: 110px;
    padding-top: 15%;
    display: inline;
    color: white;
}    

ul {
    margin-bottom: 20px;
    padding-left: 60%;
}

li:hover {
    color: black;
    cursor: pointer;
}

h1 {
   margin-left: 10px;
}

h1:hover {
    color: black;
    cursor: pointer;
}

.home {
    padding-top: 33px;
    margin-top: 20px;
    text-align: left;
    margin-left: 60px;
    color: white;
}

.home:hover {
    color: black;
    cursor: pointer;

}

.Dashboard {
    margin-left: 600px;
    padding-top: 1.3rem;
    color: black;
    background-color: whitesmoke;
    display: inline-block;
    height: 50px;
    width: 250px;  
}
    
.Dashboard:hover {
    cursor: pointer;
    color: goldenrod;
}

.Dashcontent {
    padding-top: 20px;
    margin-left: 518px;
    width: 80%;
    max-width: 500px;
    background-color: rgb(222, 221, 221);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.Wallet {
   margin-left: 640px;
   padding-top: 2rem;
   color: black;
   background-color: whitesmoke;
   display: inline-block;
   height: 50px;
   width: 210px;

}

.Wallet:hover {
    cursor: pointer;
    color: goldenrod;
}

.walletcontent {
    padding-top: 20px;
    margin-left: 518px;
    width: 80%;
    max-width: 500px;
    background-color: rgb(222, 221, 221);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

h3:hover {
    color: red;
    cursor: pointer;
}
.amount {
    margin-right: 10px;
}
.button {
    background-color: rgb(12, 163, 239); /* Blue*/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 4px;
    cursor: pointer;
    margin-left: 710px;
    margin-top: 100px;
}

.Rewards {
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 130px;
   
}


